<li class="list-group-item">
  <i class="fa" [ngClass]="{'fa-pause-circle': status == Status.Draft, 'fa-times-circle': status == Status.Offline, 'fa-check-circle': status == Status.Published}"
                [ngStyle]="{color: getStatusColor()}"></i>
  {{ title }} - <span class="badge badge-primary">{{price | number: '2.2-2'}} €</span> - <i><strong>{{ status }}</strong></i><span class="float-right">{{ date | date: 'MM/dd/yyyy, h:mm'}}</span><br>
  <input type="text" class="form-control" [(ngModel)]="title" style="margin-bottom: 5px">
  <div class="btn-group">
    <button class="btn btn-sm" [ngClass]="{'btn-warning': status == Status.Draft, 'btn-outline-warning': status != Status.Draft}" (click)="draftOne(index)">Brouillon</button>
    <button class="btn btn-sm" [ngClass]="{'btn-success': status == Status.Published, 'btn-outline-success': status != Status.Published}" (click)="publishedOne(index)">Publié</button>
    <button class="btn btn-sm" [ngClass]="{'btn-info': status == Status.Offline, 'btn-outline-info': status != Status.Offline}" (click)="offlineOne(index)">Désactivée</button>
  </div>
  <a routerLink="/ads/{{ id }}">Voir cette annonce</a>
</li>

