<!-- Breadcrumb -->
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/ads">Annonces</a></li>
    <li class="breadcrumb-item active"></li>
  </ol>
</nav>

<!-- Annonce -->
<ul class="list-group" *ngFor="let ad of ads; index as i">
  <app-ad [index]="i" [id]="ad.id" [title]="ad.title" [status]="ad.status" [date]="ad.date"
          [price]="ad.price"></app-ad>
</ul>
<br>
  <app-counter></app-counter>
<br>

<!-- Boutons -->
<button class="btn btn-success" (click)="onPublish()">Tout publier</button>
<button class="btn btn-warning" (click)="logout()">Déconnexion</button>
