<!-- Breadcrumb -->
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/ads">Annonces</a></li>
    <li class="breadcrumb-item active">{{ ad.title }}</li>
  </ol>
</nav>

<!-- Annonce -->
<div class="card" style="max-width: 500px">
  <img class="card-img-top" src="{{ ad.image }}" alt="">
  <div class="card-body">
    <h1 class="card-title">{{ ad.title }}</h1>
    <p class="card-text">
      <span class="float-right">{{ ad.date | date: 'dd/MM/yyyy, HH:mm'}}</span>
      <span class="badge badge-primary">{{ ad.price | number: '2.2-2' }} €</span>
    </p>
  </div>
</div>
