<h1>Exercices</h1>
<h3>Compteur</h3>
{{ compteur }} secondes
<br>
<button (click)="onCompteur()" [disabled]="isSubscribe">Démarrer</button>
<button (click)="offCompteur()">Arrêter et remettre à zéro</button>
